<ion-view view-title="Nombre Ciudad" class="menu-title">
<div class="bar bar-subheader subheader">
		<div class="button-bar">

			<button class="button button-clear button-assertive" ng-click="goMenu('/app/restaurantes_ciudad/{{ ciudad_id }}')">
		  		<a href="#app/restaurantes_ciudad/{{ ciudad_id }}" class="menutabs">Restaurantes</a>
			</button>	
		
			<button class="button button-clear button-assertive " ng-click="goMenu('/app/hoteles_ciudad/{{ ciudad_id }}')">
				<a href="#app/hoteles_ciudad/{{ ciudad_id }}" class="menutabs">Hoteles</a>
			</button>
		
			<button class="button button-clear button-assertive activado" ng-click="goMenu('/app/spas_ciudad/{{ ciudad_id }}')">
				<a href="#app/spas_ciudad/{{ ciudad_id }}" class="menutabs">Spas</a>
			</button>

		</div>
		<form class="form-inline">
				<label class=" item-input label">
					<i class="ion-search placeholder-icon" style="color=#501943;"></i>
					<input ng-model="query.nombre" type="text" placeholder="Buscar spas" autofocus>
				</label>
		</form>
</div>

<ion-content class="has-header has-subheader has-footer lista-restaurantes" on-scroll="scrollList()">
	<ion-list >
		<ion-item 
		href="#"
		ng-repeat="spa in spas | filter:query | orderBy: 'nombre' "  
		ng-click="go('/app/spa_ciudad/{{spa.id}}')"> 
				{{spa.nombre}}
		</ion-item>
	</ion-list>
</ion-content>
</ion-view>